:root {
  --primary-brand-color-iris: #4D5AE5;
  --primary-white-background-color: #ffffff;
  --text-white-color: #ffffff;
  --button-pressed-state-color-ocean: #404BBF;
  --primary-text-color-slate: #434455;
  --title-menu-text-color-navy-blue: #2E2F42;
  --background-dark-color: #2E2F42;
  --light-mode-bcg-cloud: #F4F4FD;
  --border-color: #E7E9FC;
  --subtle-text: #8E8F99;
  --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ----------------------  dropping  ----------------------- */

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 16px;
  color: var(--primary-text-color-slate);
  background-color: var(--primary-white-background-color);
}

button {
  display: block;
  cursor: pointer;
}

h1,h2,h3,h4,p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

/* ----------------------  /dropping  ----------------------- */

.container {
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

/* ----------------------  header  ----------------------- */

@media screen and (max-width: 1157px) {
  .features-list-container {
    display: none;
  }

  .examples-work {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu {
      display: none;
    }
  
  .contacts {
      display: none;
    }

    .mobile-menu-open-btn {
      border: none;
      background-color: transparent;
      padding: 0;
      line-height: 0;
    }
  
    .mobile-menu-open-btn-icon {
      stroke: var(--background-dark-color);
    }
  
    .mobile-menu {
      position: fixed;
      z-index: 100;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--primary-white-background-color);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  
    .mobile-menu.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  
    .mobile-menu-container {
      position: relative;
      padding: 80px 35px 40px 40px;
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  
    .mobile-menu-close-btn {
      background-color: var(--border-color);
      border: 1px solid rgba(0, 0, 0, 0.1);
      width: 24px;
      height: 24px;
      padding: 0;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 24px;
      right: 24px;
    }
  
    .mobile-menu-close-icon {
      fill: var(--background-dark-color);
    }
  
    .mobile-menu-list {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  
    .mobile-menu-list-item {
      color: var(--title-menu-text-color-navy-blue);
      font-weight: 700;
      font-size: 36px;
      line-height: 1.11;
      letter-spacing: 0.02em;
      text-transform: capitalize;
    }
  
    .mobile-current-page {
      color: var(--button-pressed-state-color-ocean);
    }
  
    .mobile-contacts-list {
      display: flex;
      flex-direction: column;
      gap: 40px;
      margin-top: auto;
      margin-bottom: 48px;
    }
  
    .mobile-contacts-list-tel {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.11;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      color: var(--primary-brand-color-iris);
    }
  
    .mobile-contacts-list-mail {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
    }
  
    .mobile-social-list {
      display: flex;
      justify-content: flex-start;
      column-gap: 56px;
      row-gap: 24px;
      flex-wrap: wrap;
    }
  
    .mobile-social-list-link {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--primary-brand-color-iris);
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  
    .mobile-social-list-icon {
      fill: #f4f4fd;
    }
}

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--primary-brand-color-iris);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-header {
  color: var(--title-menu-text-color-navy-blue)
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-title {
  color: var(--title-menu-text-color-navy-blue);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.list-title {
  color: var(--title-menu-text-color-navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ----------------------  hero  ----------------------- */

.hero {
  background-color: var(--background-dark-color);
  padding-top: 112px;
  padding-bottom: 112px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/bg/people-office-mobile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/bg/people-office-mobile@2x.jpg');
  }
}

.hero-title {
  color: var(--text-white-color);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
}

.modal-button {
  color: var(--text-white-color);
  background-color: var(--primary-brand-color-iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ----------------------  /hero  ----------------------- */

/* ----------------------  features  ----------------------- */

.features-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 72px;
}

.features-list .list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 8px;
}

.features-list .text {
  font-weight: 500;
}

/* ----------------------  /features  ----------------------- */

/* ----------------------  example work  ----------------------- */



/* ----------------------  /example work  ----------------------- */

/* ----------------------  our team  ----------------------- */

.section-our-team {
  background-color: var(--light-mode-bcg-cloud);
  text-align: center;
}

.our-team-title {
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 72px;
  justify-content: center;
}

.section-our-team .card-item {
  background-color: var(--primary-white-background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.our-team-card-content {
  padding: 32px 0;
}

.our-team-list .list-title {
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  gap: 24px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-brand-color-iris);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.social-list-icon {
  fill: #f4f4fd;
}

/* ----------------------  /our team  ----------------------- */

/* ----------------------  customers  ----------------------- */

.customers-title {
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
  row-gap: 72px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 88px;
  color: #8E8F99;
  border: 1px solid #8E8F99;
  border-radius: 4px;
}

.customers-list-icon {
  fill: currentColor;
}

/* ----------------------  /customers  ----------------------- */

/* ----------------------  filter-buttons  ----------------------- */

.filter-button-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 16px;
  margin-bottom: 48px;
}

.filter-button {
  background-color: var(--light-mode-bcg-cloud);
  color: var(--primary-brand-color-iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  transition: color var(--transition-duration-and-func), background-color var(--transition-duration-and-func), border-color var(--transition-duration-and-func), box-shadow var(--transition-duration-and-func);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--button-pressed-state-color-ocean);
  color: var(--text-white-color);
  border: 1px solid var(--button-pressed-state-color-ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
} 

/* ----------------------  /filter-buttons  ----------------------- */

/* -------------------  section-portfolio  -------------------- */

.section-portfolio {
  padding-top: 48px;
  padding-bottom: 48px;
}

.section-portfolio-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}

.section-portfolio-list-link {
  display: block;
  transition: box-shadow var(--transition-duration-and-func);
}

.section-portfolio-list-link:hover,
.section-portfolio-list-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-card-content {
  padding: 32px 16px;
  border: 1px solid var(--border-color);
  border-top: none;
}

.section-portfolio-list .list-title {
  margin-bottom: 8px;
}

.portfolio-list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: var(--primary-brand-color-iris);
  color: var(--light-mode-bcg-cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--transition-duration-and-func);
}

.section-portfolio-list-link:hover .overlay,
.section-portfolio-list-link:focus .overlay {
  transform: translateY(0%);
}

/* -------------------  /section-portfolio  -------------------- */

/* ----------------------  footer  ----------------------- */

.footer {
  color: var(--light-mode-bcg-cloud);
  background-color: var(--background-dark-color);
  padding-top: 96px;
  padding-bottom: 96px;
}

.first-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 72px;
  align-items: center;
}

.logo-footer {
  color: var(--light-mode-bcg-cloud);
}

.footer .text {
  max-width: 268px;
}

.second-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 72px;
}

.second-column > .text {
  font-weight: 500;
  color: var(--text-white-color);
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-brand-color-iris);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.footer-social-list-icon {
  fill: #f4f4fd;
}

.third-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.third-column-text {
  font-weight: 500;
  color: var(--text-white-color);
  text-align: center;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-form-field {
  width: 100%;
}

.footer-form-input {
  background-color: transparent;
  width: 100%;
  height: 40px;
  padding-left: 16px;
  border: 1px solid var(--primary-white-background-color);
  border-radius: 4px;
  color: var(--text-white-color);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-form-input::placeholder {
  color: var(--text-white-color);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  align-items: center;
}

.footer-form-submit {
  display: flex;
  color: var(--text-white-color);
  background-color: var(--primary-brand-color-iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
}

.footer-form-button-icon {
  fill: var(--primary-white-background-color);
  margin-left: 16px;
}

/* ----------------------  /footer  ----------------------- */

/* ----------------------  backdrop  ----------------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  background-color: rgba(46, 47, 66, 0.4);
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transition: opacity var(--transition-duration-and-func), visibility var(--transition-duration-and-func);
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 392px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  background-color: #FCFCFC;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--transition-duration-and-func);
}

.modal-close-btn {
  background-color: var(--border-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  transition: background-color var(--transition-duration-and-func), border var(--transition-duration-and-func);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--button-pressed-state-color-ocean);
  border: none;
}

.modal-close-icon {
  fill: currentColor;
  transition: fill var(--transition-duration-and-func);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: var(--primary-white-background-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-form-title {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: var(--title-menu-text-color-navy-blue);
  margin-bottom: 16px;
}

.modal-form-field-wrapper {
  margin-bottom: 8px;
}

.modal-form-field {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color var(--transition-duration-and-func);
}

.modal-form-input:focus {
  border-color: var(--primary-brand-color-iris);
}

.modal-form-input-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--background-dark-color);
  transition: fill var(--transition-duration-and-func);
}

.modal-form-input:focus+.modal-form-input-icon {
  fill: var(--primary-brand-color-iris);
}

.modal-form-field-message-wrapper {
  margin-bottom: 16px;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  font-size: 12px;
  letter-spacing: 0.04em;
  resize: none;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  line-height: 1.17;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color var(--transition-duration-and-func);
}

.modal-form-message:focus {
  border-color: var(--primary-brand-color-iris);
}

.modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-field-checkbox-wrapper {
  margin-bottom: 24px;
}

.modal-form-field-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.modal-form-field-checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  cursor: pointer;
}

.modal-form-input-checkbox:checked+.modal-form-field-checkbox>.modal-form-field-checkbox-span {
  background-color: var(--button-pressed-state-color-ocean);
  border: none;
  fill: var(--primary-white-background-color);
  border-color: var(--button-pressed-state-color-ocean);
}

.modal-form-policy-link {
  color: var(--primary-brand-color-iris);
  margin-left: 2px;
}

.modal-form-submit {
  color: var(--text-white-color);
  background-color: var(--primary-brand-color-iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-duration-and-func);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--button-pressed-state-color-ocean);
}

/* ----------------------  /backdrop  ----------------------- */












@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  
  .mobile-menu-open-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .navigation {
    color: var(--title-menu-text-color-navy-blue);
    display: flex;
    align-items: center;
    gap: 120px;
  }

  .menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .menu-item {
    position: relative;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .current-page {
    color: #404BBF;
  }
  
  .current-page::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
    display: block;
    width: 100%;
  }

  .contacts {
    font-style: inherit;
  }
  
  .contacts-link {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .contacts-link .link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  /* ----------------------  hero  ----------------------- */
  
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/bg/people-office-tablet.jpg');
      max-width: 768px;
    }
  
    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
      .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/bg/people-office-tablet@2x.jpg');
      }
    }

    .hero-title {
      font-size: 56px;
      line-height: 1.07; 
      margin-bottom: 36px;
      max-width: 496px;
    }

  /* ----------------------  /hero  ----------------------- */

  /* ----------------------  features  ----------------------- */

.features-list {
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 72px;
}

.features-list > .item {
  max-width: 356px;
}

.features-list .list-title {
  text-align: start;
}

  /* ----------------------  /features  ----------------------- */

  /* ----------------------  our team  ----------------------- */

  .our-team-list {
      row-gap: 64px;
  }

  /* ----------------------  /our team  ----------------------- */

  /* ----------------------  customers  ----------------------- */

    .customers-list {
      column-gap: 24px;
    }

    .customers-link {
      width: 168px;
    }

  /* ----------------------  /customers  ----------------------- */

    /* ----------------------  filter-buttons  ----------------------- */
  
    .filter-button-list {
      justify-content: center;
      margin-bottom: 64px;
    }
  
    /* ----------------------  /filter-buttons  ----------------------- */
  
    /* -------------------  section-portfolio  -------------------- */
  
    .section-portfolio {
      padding-top: 64px;
      padding-bottom: 96px;
    }
  
    .section-portfolio-list {
      column-gap: 24px;
      row-gap: 72px;
    }
  
  /* -------------------  /section-portfolio  -------------------- */

  /* ----------------------  footer  ----------------------- */

  .footer-container {
    padding-left: 108px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  
  .first-column {
    margin-bottom: 0px;
    align-items: start;
  }
  
  .footer .text {
    max-width: 264px;
  }

  .second-column {
    align-items: start;
    margin-bottom: 0px;
  }

  .third-column-text {
    text-align: start;
  }

  .footer-form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-form-input {
    width: 264px;
  }

  /* ----------------------  /footer  ----------------------- */

  /* ----------------------  backdrop  ----------------------- */

  .modal {
    max-width: 408px;
  }

  /* ----------------------  /backdrop  ----------------------- */

}











@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* ----------------------  hero  ----------------------- */

  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .navigation {
    gap: 76px;
  }

  .menu-item {
    transition: color var(--transition-duration-and-func);
  }
  
  .menu-item:hover,
  .menu-item:focus {
    color: var(--button-pressed-state-color-ocean);
  }

  .contacts {
    margin-left: auto;
  }
  
  .contacts-link {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contacts-link .link {
    display: inline;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color var(--transition-duration-and-func);
  }
  
  .contacts-link .link:hover,
  .contacts-link .link:focus {
    color: var(--button-pressed-state-color-ocean);
  }

  /* ----------------------  /header  ----------------------- */

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  
  /* ----------------------  hero  ----------------------- */

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/bg/people-office-desktop.jpg');
    max-width: 1440px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/bg/people-office-desktop@2x.jpg');
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }

  .modal-button {
    transition: background-color var(--transition-duration-and-func);
  }
  
  .modal-button:hover,
  .modal-button:focus {
    background-color: var(--button-pressed-state-color-ocean);
  }

  /* ----------------------  /hero  ----------------------- */

  /* ----------------------  features  ----------------------- */

  .features-list {
    flex-direction: row;
    gap: 24px;
  }
  
  .features-list .item {
    flex-basis: calc((100% - 72px) / 4);
  }
  
  .features-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    background-color: var(--light-mode-bcg-cloud);
    border-radius: 4px;
  }
  
  .features-list .list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .features-list .text {
    font-weight: 400;
  }

  /* ----------------------  /features  ----------------------- */

  /* ----------------------  example work  ----------------------- */

  .examples-work {
    padding-top: 0;
  }
  
  .examples-work .section-title {
    margin-bottom: 72px;
  }
  
  .examples-work-list {
    display: flex;
    gap: 24px;
  }
  
  .examples-work-list-item {
    flex-basis: calc((100% - 3 * 16px) / 3);
  }
  
  /* ----------------------  /example work  ----------------------- */

  /* ----------------------  our team  ----------------------- */
  
  .our-team-list {
    gap: 24px;
  }

  .social-list-link {
    transition: background-color var(--transition-duration-and-func);
  }
  
  .social-list-link:hover,
  .social-list-link:focus {
    background-color: var(--button-pressed-state-color-ocean);
  }

  /* ----------------------  /our team  ----------------------- */

  /* ----------------------  customers  ----------------------- */
  
  .customers-link {
    transition: border-color var(--transition-duration-and-func), color var(--transition-duration-and-func);
  }
  
  .customers-list-icon {
    transition: fill var(--transition-duration-and-func);
  }
  
  .customers-link:hover,
  .customers-link:focus {
    border-color: var(--button-pressed-state-color-ocean);
    color: var(--button-pressed-state-color-ocean);
  }
  
  .customers-link:hover .customers-list-icon,
  .customers-link:focus .customers-list-icon {
    fill: var(--button-pressed-state-color-ocean);
  }

  /* ----------------------  /customers  ----------------------- */

  /* ----------------------  filter-buttons  ----------------------- */
      
  .filter-button-list {
    margin-bottom: 72px;
  }
      
  /* ----------------------  /filter-buttons  ----------------------- */
      
  /* -------------------  section-portfolio  -------------------- */
      
  .section-portfolio {
    padding-top: 100px;
    padding-bottom: 120px;
  }
      
  .section-portfolio-list {
    row-gap: 48px;
  }
      
  /* -------------------  /section-portfolio  -------------------- */

  /* ----------------------  footer  ----------------------- */

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .footer-container {
    align-items: baseline;
    gap: 0px;
  }
  
  .first-column {
    margin-right: 120px;
  }
  
  .footer-social-list-link {
    transition: background-color var(--transition-duration-and-func);
  }
  
  .footer-social-list-link:hover,
  .footer-social-list-link:focus {
    background-color: #31d0aa;
  }
  
  .third-column {
    margin-left: auto;
  }
    
  .footer-form-submit {
    transition: background-color var(--transition-duration-and-func);
  }

  .footer-form-submit:hover,
  .footer-form-submit:focus {
    background-color: #31d0aa;
  }

  /* ----------------------  /footer  ----------------------- */

}
